<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="hs_base_price" translate="label" type="text" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Base Price</label>
            <tab>hungersoft</tab>
            <resource>HS_BasePrice::base_price</resource>
            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="product_page_label" translate="label" sortOrder="4" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Text to display on product page</label>
                    <comment>Text to display when the customer is on product page.</comment>
                </field>
                <field id="list_page_label" translate="label" sortOrder="5" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Text to display on list page</label>
                    <comment>Text to display when the customer is viewing category or search page, or blocks such as related, upsells etc.</comment>
                </field>
            </group>
        </section>
    </system>
</config>